@CHARSET "UTF-8";
body{
	background-color:white;
}

#loginjsp_login{
	position: absolute;
	top:40%; left:70%;
	border:1px solid black;
	width:260px;
	min-height:165px;height:auto;
	padding-bottom:5px;
	z-index: 1;
	border-radius:15px;
}

#menu {
	background:#b5cfd2 url('cell-blue.jpg');
	position: absolute;
	top:25%;left:0%;width:100%;
	border-bottom: thin solid black;
	border-top: thin solid black;
	text-decoration:none;
	padding-bottom: 1%;
	height:5%;
	background-color: blue;	
}

#menu ul li{
	float:left;
	list-style: none;
	width:150px;
	
}

#menu ul li a{
	text-decoration: none;
	color:white;
}

#menu ul li a:hover{
	color:red;
}

#box{
	position: fixed;
	/*border:1px solid black;*/
	top:5%; left:5%;
	width: 90%; height: 89%;
	background-color: white;
	border-radius: 15px;
	z-index: 3;
	
}

#loginjsp_aboutus{
	position: absolute;
	border:thin solid black;
	top:40%;left:30%;width: 350px;min-height:30%;height:auto;
	border-radius: 15px;
	padding-bottom: 20px;
	background-color: #b5cfd2;
}

#heading{
	position: absolute;
	top:5%;left:15%;
	font-size: 60px;
	/*border:thin  gray;*/
	position: absolute;
	top:0px;left:0px;width:100%;height:25%;
	text-align: center;
	line-height: 200%;
	border-bottom: thin solid black;
}

#footer{
	position: absolute;
	top:25%;left:0%;
	border:thin solid  gray;
	width:100%;min-height:100%;height:auto;
	z-index:-1;
	background-image: url('background-image.png')
}

#slideshow { 
    position: absolute;top:0%;left:0%;
    height:25%;width:100%; 
    /*border:thin solid red;*/
        
}
#slideshow > div { 
    position: absolute;  
}

#slideshow img{
	height: 100%;
	width: 100%;
}

#buttons_menu{
	position:absolute;
	top:40%;left:1%;border:thin solid black;
	width:20%; height:55%;	border-radius: 15px;
}

#admin_console{
	border: thin solid black;
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}

#add_user{
	/*border: thin solid black;*/
	position: absolute;
	top:30%;left:20%;width:70%;min-height:50%;height: auto;
}

#assign_role{
	/*border: thin solid black;*/
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}

#edit_user_basic{
	/*border: thin solid black;*/
	position: absolute;
	top:40%;left:18%;width:70%;height:50%;
}

#edit_user_adv{
	border: thin solid black;
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}

#user_roles{
	/*border: thin solid black;*/
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}

#add_item{
	border: thin solid black;
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}

#item_list{
	border: thin solid black;
	position: absolute;
	top:40%;left:20%;width:70%;height:50%;
}
#login_publisher{
	/*border: thin solid black; */
	position: absolute;
	top:40%;left:5%;width:90%;height:50%;
}
#stage_list{
	border: thin solid black;
	position: absolute;
	top:40%;left:5%;width:90%;height:50%;
}
#add_stage{
	border: thin solid black;
	position: absolute;
	top:40%;left:5%;width:90%;height:50%;
}

.create_workflow{
	position:relative;
	left:1%;
	
}

#workflow_list{
	border: thin solid black;
	position: absolute;
	top:40%;left:5%;width:90%;height:50%;
}
/*table {
	border-collapse: collapse;
}
table, td,th{
	border-bottom:1px dotted black;padding:10px;
	text-align: center;	
}
*/

table {
	empty-cells:hide;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table, th {
	empty-cells:hide;
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table, td {
	empty-cells:hide;
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

/*tr:nth-child(even){
	background-color: yellow;
}*/

#edit_workflow{
	position: absolute;
	top:40%;left:20%;width:30%;height:50%;
}

#edit_item{
	position: absolute;
	top:40%;left:20%;width:30%;height:50%;
}

